In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pingouin as pg
import numpy as np
import scipy 
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_excel('comparison_data_10s1.xlsx', sheet_name = 'ANOVA')

res = pg.mixed_anova(dv='Data', within='G1', between = 'G2', subject = 'Subject', data=df)


(df["Data"] > 0.5).value_counts()

96

4

False    358
True      14
Name: Data, dtype: int64

In [11]:
res

,Source,SS,DF1,DF2,MS,F,p-unc,np2,eps
0,G2,0.005829,3,6,0.001943,0.710242,0.580378,0.262058,NaN
1,G1,0.000122,1,6,0.000122,0.079295,0.787715,0.013043,1.0
2,Interaction,0.004724,3,6,0.001575,1.023690,0.445964,0.338557,NaN

In [12]:
post_hocs_wf = pg.pairwise_tests(dv='Data', within = 'G1', subject='Subject', data=df, within_first = False)
post_hocs_bf = pg.pairwise_tests(dv='Data', between = 'G2', subject='Subject', data=df, within_first = False)

In [13]:
post_hocs_bf

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,G2,Control,Escit,False,True,0.973426,58.046389,two-sided,0.334381,0.301,0.164989
1,G2,Control,Mirt,False,True,-1.493575,255.956731,two-sided,0.136518,0.368,-0.174459
2,G2,Control,Tryp,False,True,-0.572766,54.797069,two-sided,0.569146,0.228,-0.101509
3,G2,Escit,Mirt,False,True,-1.998225,86.069088,two-sided,0.048849,1.183,-0.282194
4,G2,Escit,Tryp,False,True,-1.227260,70.000000,two-sided,0.223836,0.463,-0.286158
5,G2,Mirt,Tryp,False,True,0.568611,79.126596,two-sided,0.571230,0.229,0.083413

In [14]:
post_hocs_wf

,Contrast,A,B,Paired,Parametric,T,dof,alternative,p-unc,BF10,hedges
0,G1,Post,Pre,True,True,0.280488,9.0,two-sided,0.785444,0.319,0.105489

In [18]:
p_arr = np.append(post_hocs_wf["p-unc"].to_numpy(), post_hocs_bf["p-unc"].to_numpy())
m_c = pg.multicomp(p_arr)
m_c

(array([False, False, False, False, False, False, False]),
 array([1.        , 1.        , 0.8191106 , 1.        , 0.34194395,
        1.        , 1.        ]))

In [23]:
print(df[(df['G1'] == 'Pre')].mean())
print(df[(df['G1'] == 'Pre')].std())

Data    0.07438
dtype: float64
Data    0.156392
dtype: float64

In [24]:
print(df[(df['G1'] == 'Post')].mean())
print(df[(df['G1'] == 'Post')].std())

Data    0.078621
dtype: float64
Data    0.170462
dtype: float64

In [25]:
print(df[(df['G2'] == 'Control')].mean())
print(df[(df['G2'] == 'Control')].std())

Data    0.065798
dtype: float64
Data    0.140448
dtype: float64

In [26]:
print(df[(df['G2'] == 'Escit')].mean())
print(df[(df['G2'] == 'Escit')].std())

Data    0.043038
dtype: float64
Data    0.122994
dtype: float64

In [27]:
print(df[(df['G2'] == 'Mirt')].mean())
print(df[(df['G2'] == 'Mirt')].std())

Data    0.095597
dtype: float64
Data    0.19777
dtype: float64

In [28]:
print(df[(df['G2'] == 'Tryp')].mean())
print(df[(df['G2'] == 'Tryp')].std())

Data    0.079958
dtype: float64
Data    0.132108
dtype: float64

In [36]:
print(df[(df['G2'] == 'Escit') & (df['G1'] == 'Post')].mean())
print(df[(df['G2'] == 'Escit') & (df['G1'] == 'Post')].std())

Data    0.009331
dtype: float64
Data    0.015603
dtype: float64

In [37]:
print(df[(df['G2'] == 'Tryp') & (df['G1'] == 'Pre')].mean())
print(df[(df['G2'] == 'Tryp') & (df['G1'] == 'Pre')].std())

Data    0.088817
dtype: float64
Data    0.13382
dtype: float64

In [38]:
print(df[(df['G2'] == 'Tryp') & (df['G1'] == 'Post')].mean())
print(df[(df['G2'] == 'Tryp') & (df['G1'] == 'Post')].std())

Data    0.0711
dtype: float64
Data    0.133634
dtype: float64

In [39]:
print(df[(df['G2'] == 'Mirt') & (df['G1'] == 'Pre')].mean())
print(df[(df['G2'] == 'Mirt') & (df['G1'] == 'Pre')].std())

Data    0.096153
dtype: float64
Data    0.20646
dtype: float64

In [40]:
print(df[(df['G2'] == 'Mirt') & (df['G1'] == 'Post')].mean())
print(df[(df['G2'] == 'Mirt') & (df['G1'] == 'Post')].std())

Data    0.095041
dtype: float64
Data    0.190132
dtype: float64